.head__bar {
  margin: 50px 0 0 0;
  position: fixed;

  //left: 50%;
  // transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  color: #474c50;

  transition: 0.5s cubic-bezier(0.42, 0, 1, 1) !important;
  z-index: 100;
  width: 100%;

}

.menu--sticky {
  position: fixed;
  display: flex;
  margin: 0 0 0 0;
  height: 85px;
  transition: 0.5s cubic-bezier(0.42, 0, 1, 1) !important;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  width: 100%;
  z-index: 100;
}
.navigation {
  padding: 16px;
  display: none;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration: none;
    justify-self: center;
    background: #fff;
    width: 970px;
    height: 85px;

  }
}

.navigation--open {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 15px;
  width: 100%;
  height: auto;
}
.button {
  display: block;
  background: $burger;

  background-size: 100%;
  background-repeat: no-repeat;
  margin-left: 25px;
  width: 50px;
  border: none;
  padding: 0;
  padding-bottom: 80px;

  position: absolute;
  top: 20px;
  left: 20px;

  @media (min-width: 768px) {
    display: none;
  }
}
