.head__bar {
  margin: 50px 0 0 0;
  position: fixed;
  display: flex;
  align-items: center;
  height: 85px;
  background: #fff;
  width: 100%;
  transition: 0.5s cubic-bezier(0.42, 0, 1, 1) !important;
  z-index: 100;
  font-size: 1em;
}
.navigation {
  color: #fe7f88;
  padding: 16px;
  display: none;
  min-height: 60px;

  &__menu--sticky {
    margin: 0 0 0 0;
    height: 50px;
    transition: 0.5s cubic-bezier(0.42, 0, 1, 1) !important;
    align-items: center;
  }

  @media (min-width: 768px) {
    padding: 16px;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    min-height: 60px;
    position: center;
    width: 100%;
    &__menu--sticky {
      margin: 0 0 0 0;
      height: 50px;
      transition: 0.5s cubic-bezier(0.42, 0, 1, 1) !important;
      align-items: center;
    }
  }
}
.navigation__link {
  display: block;
  margin: 0 0 16px;

  &:hover {
    color: #a663cc;
  }
}
.navigation--open {
  display: flex;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  height: 450px;
  padding: 5px;
  margin-top: 25px;
  z-index: 50;
  flex-direction: column;

  background: #fff;
}
.button {
  display: block;
  background: $burger;
  margin: 15px 0 0 80%;
  background-size: 9%;
  background-repeat: no-repeat;
  width: 100%;
  border: none;
  padding: 0;
  padding-bottom: 100%;
  color: blue;
  position: absolute;

  @media (min-width: 768px) {
    display: none;
  }
}
