.head__bar
{
    margin: 50px 0 0 0;
    display: grid;
    grid-template-columns: 50px 1fr;
    position: fixed;
    vertical-align: baseline;
    height: 85px;
    background: #fff;
    width: 100%;
   
  

}
.navigation
{
    color: #fe7f88;
    padding: 16px;
    display: none;
    min-height: 60px;
    @media(min-width: 768px)
    {
        padding: 16px;
        border-radius: 8px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100px;
        min-height: 60px;
        position: center;
        width: 100%;
    }
}
.navigation__link
{
    display:block;
    margin: 0 0 16px;

    &:hover{
        color:#a663cc;
    }

}
.navigation--open
{
    display:block;
    width: 150px;
    box-sizing: content-box;
    padding: 5px;

    background: #fff;


}
.button
{
        background: $burger;

    @media(min-width:768px)
    {
        display:none;

    }
}