.glide__slide {
  // border: 1px solid black;
  line-height: 100px;
  margin: 0;
  text-align: center;
}

.offer {
  background-color: $lightblue;
  color: #fff;
  text-shadow: 0.5px 0.5px 1px black;
  padding: 64px 36px 88px;
  @media (min-width: 768) {
    &--container {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  &__slide {
    background-size: 100%;
    width: 50px;
    padding-bottom: 50px;
    display: block;
    background-repeat: no-repeat;

    &--client {
      background-image: $users;
    }
    &--truck {
      background-image: $truck;
    }
    &--logistics {
      background-image: $logistics;
    }
    &--business {
      background-image: $businessbuilding;
    }
    &--warehouse {
      background-image: $warehouse;
    }
  }
}
