@import "~normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import "_variables";
@import "modules/hello.scss";
@import "modules/hero.scss";
@import "modules/offer.scss";
@import "modules/description.scss";
@import "modules/contact.scss";
@import "modules/header.scss";
@import "modules/reset.scss";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: #f2efeb;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: Lato, sans-serif;
}
